@font-face {
  font-family: "UTM Penumbra";
  src: url("font/UTM Penumbra.ttf");
}

@font-face {
  font-family: "UTM Penumbra Bold";
  src: url("font/UTM PenumbraBold.ttf");
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  .monts {
    font-family: "Montserrat", sans-serif;
  }
  .penum {
    font-family: "UTM Penumbra";
  }
  .penum-b {
    font-family: "UTM Penumbra Bold";
  }
}

.main-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: rgb(16, 1, 81);
  background: linear-gradient(
    150deg,
    rgba(16, 1, 81, 1) 0%,
    rgba(0, 144, 184, 1) 50%,
    rgba(0, 169, 157, 1) 100%
  );
  .left-box {
    position: fixed;
    left: 0;
    width: 25%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    .box-thumb {
      img {
        max-width: 60%;
      }
    }
    .box-title {
    }
    .box-skill {
    }
    .bottom-box {
      // bottom: 3rem;
      .bottom-child {
        -webkit-box-shadow: 5px 5px 13px -7px #000000; 
        box-shadow: 5px 5px 13px -7px #000000;
        background: linear-gradient(
          150deg,
          rgba(178, 178, 178, 1) 0%,
          rgba(255, 255, 255, 1) 100%
        );
        border-radius: 35px;
        padding: 30px;
        h1 {
          border-bottom: 1px solid black;
        }
      }
    }
  }
  .right-box{
    overflow-y: auto;
    width: 100%;
    .tab-box{
      margin-bottom: 1rem;
      -webkit-box-shadow: 5px 5px 13px -7px #000000; 
        box-shadow: 5px 5px 13px -7px #000000;
        background: linear-gradient(
          150deg,
          rgba(178, 178, 178, 1) 0%,
          rgba(255, 255, 255, 1) 100%
        );
        border-radius: 35px;
        padding: 30px;
      .brd-black{
        border-bottom: 1px solid black;
      }
    }
  }
}
